<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    
    <div class='table-responsive'>
      <table class='table'
            *ngIf='products.length'
            >
        <thead>
            <tr><th><div>Filter by: </div> <input type="text" 
              [(ngModel)] ='listFilter' 
              /></th></tr>
              <tr>
                <th>
                  Filtered by {{listFilter}}
                </th>
              </tr>
          <tr>
            <th>           
              <button class='btn btn-primary'
              (click)='toggleImage()'>
                      {{showImage ? 'Hide': 'Show'}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
          
        </thead>
        <tbody>
            
              <tr *ngFor='let product of products'>
                <td><img [src]='product.imageUrl'
                  [title]='product.productName'
                  [style.width.px]='imageWidth'
                  [style.margin.px]='imageMargin'
                  *ngIf='showImage'></td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productCode | lowercase }}</td>
                <td>{{ product.releaseDate }}</td>
                <td>{{ product.price | currency : 'USD' : 'symbol' : '1.2-2'}}</td>
                <td>{{ product.starRating }}</td>
            </tr>
        
        </tbody>
      </table>
    </div>

  </div>
</div>