<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    
    <div class='table-responsive'>
      <table class='table'
            *ngIf='products.length'
            >
        <thead>
            <tr><th>Filtered by: </th> <th><input></th></tr>
          <tr>
            <th>           
              <button class='btn btn-primary'>
                      Showimage
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
          
        </thead>
        <tbody>
            
              <tr *ngFor='let product of products'>
                <td></td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.releaseDate }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.starRating }}</td>
            </tr>
        
        </tbody>
      </table>
    </div>

  </div>
</div>